body {
    margin: 0;
}

@font-face {
    font-family: 'score-font'; /* Choose a name for your font */
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype'); /* Specify the path to your TTF file */
    font-weight: normal;
    font-style: normal;
  }

.container {
display: flex;
justify-content: space-around;
width: 575px;
height: 385px;
background-color: #1B244A;
margin: 20px auto;
}

h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: #F94F6D;
    background-color: black;
    border-radius: 5px;
    font-family: score-font;
    font-size: 90px;
    font-weight: 100;
    margin: auto;
    width: 155px;
    padding: 10px 0 10px 0;
    text-align: center;
}

button {
    color: #9AABD8;
    background-color: #1B244A;
    border: solid 2px;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-family: score-font;
    font-size: 18px;
    margin: 5px; 
}

.buttons {
    margin-top: 20px;
}